.feature {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 10px;
}

.feature h1 {
  font-size: 35px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .feature h1 {
    font-size: 56px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.feature h2 {
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .feature h2 {
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.btn.btn-primary.download {
  margin-right: 40px;
  margin-top: 20px;
}

.btn.btn-primary.donate {
  margin-top: 20px;
}

.feature.dark {
  background-color: #31363b;
}

.btn.btn-primary.learn {
  margin-top: 20px;
}

.feature.command {
  background-color: #31363b;
}

.feature.dark {
  color: white;
}

.product-in.dark {
  color: white;
}

.downloadagainsec {
  padding-top: 40px;
}

.btn.btn-primary.btn-lg.getinvolved {
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn.btn-primary.btn-lg.download2 {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.btn.btn-primary.btn-lg.download {
  margin-bottom: 30px;
}

.btn.btn-primary.btn-lg.donate {
  margin-bottom: 30px;
}

.product-in {
  height: 550px;
  padding-top: 40px;
  margin: 0 0 10px 10px;
  text-align: center;
}

.product-in h3 {
  font-size: 25px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .product-in h3 {
    font-size: 32px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.product-in h4 {
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .product-in h4 {
    font-size: 25px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.prodim {
  margin-top: 15px;
}

.product-in.plasma {
  background-color: #f47750;
}

.product-in.plugin {
  background-color: #31363b;
}

.product-in.wiki {
  background-color: #da4453;
}

.grid {
  padding-right: 10px;
  padding-bottom: 60px;
}

.img-fluid.prodim:hover {
  transform: scale(1.05);
}
